{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Jobo</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">

   
    <meta name="description" content="Internship roles for students">
    <meta property="og:image" content="{% static 'images/og-image.png' %}">
    <meta name="twitter:card" content="summary">
    </meta>
    <meta name="twitter:title" content="FindJobo">
    </meta>
    <meta name="twitter:site" content="">
    </meta>
    <meta name="twitter:description" content="High Quality Internships for Students">
    </meta>
    <meta name="twitter:image" content="{% static 'images/og-image.png' %}">
    </meta>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css'  %}">
    <script src="{% static 'script.js' %}" defer></script>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K533RGV9EX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K533RGV9EX');
</script>

</head>
<body>
    <div id="navigation-bar">
        <img class="logo" src="{% static 'images/logo.png' %}">
        

    </div>
    <img id="hero" src="{% static 'images/hero.png' %}">
    <h1>Find an <span class="purple-text">intern role</span> in a click</h1>
    <h3>Get access to entry level positions across Africa.</h3>
    <div id="city-filter">
        <h3 style="margin: 0; margin: auto;">Filter roles in</h3>
        <select name="Cities" id="cities-dropdown" style="background-image: url('{% static 'images/caret-down.svg' %}'); font-family: 'DM Sans', sans-serif;">
            <option id="selected-city" current-city="{{selected_city}}" selected>{{selected_city}}</option>
            {% for city in cities%}

                <option id="selected-city" current-city="{{city.name}}" >{{city.name}}</option>
                
            {% endfor %}

          </select>
    </div>
    <div style="height: 2em;"></div>

    <br>
    <!-- <div id="category-tabs">
    
            {% for category in categories %}
            <div class="category-container">
                <h3 >{{category.name}}</h3>
            </div>
               
            {% endfor %}
        
    </div> -->
    <div id="jobs-section">
       {% for job in jobs %}
      
       
       <a href="{{job.application_url}}">
        <div class="job-container" itemscope itemtype="https://schema.org/JobPosting">
            <div class="job-header-section">
                <img class="employer-logo" src="{{job.company_logo.url }}">
                <div class="job-basics">
                    <h4 itemprop="title">{{job.title}}</h4>
                    <h5 itemprop="hiringOrganization">{{job.company}}</h5>
                    <h6 style="text-transform: capitalize;" itemprop="jobLocation">{{job.city}}</h6>
                </div>
            </div>
            <!-- <h5 style="margin-left: 1em; opacity: 0.7;"> Job Details</h5> -->
            <div class="job-details-section" itemprop="description">
                {{job.description|safe}}
            </div>
            </div>
       </a>
       {% endfor %}

    </div>
    <div id="footer">
        <img class="logo" id="footer-logo" src="{% static 'images/logo-footer.png' %}">
        <p>A product of</p>
        <img class="logo" id="kreate-footer-logo" src="{% static 'images/kreate-logo.png' %}">
    </div>
   
</body>
</html>